#main-header-area {
    padding: 40px 0px;
    position: relative;
}

.bodyEffectsArea {}

.mainBodyLeft {
    position: absolute;
    top: -10%;
    left: 0%;
    z-index: -1;
}

.mainBodyLeft {}

.bodyTopEffect {
    position: absolute;
    width: 352px;
    height: 352px;
    right: 0%;
    top: -73px;
    background: #00C9C9;
    -webkit-filter: blur(400px);
    filter: blur(400px);
    z-index: -1;
    opacity: 0.7;
}

.about-us-left-area {
    position: relative;
}

.aboutUsEffect {
    position: absolute;
    width: 552px;
    height: 552px;
    left: -60%;
    top: 0%;
    background: #4583FF;
    -webkit-filter: blur(400px);
    filter: blur(400px);
    z-index: -1;
    opacity: 0.8;
}

#main-story-area {
    position: relative;
    background-color: #fff;
}

.storyBodyEffect {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 40%;
    bottom: -10%;
    background: #00C9C9;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    z-index: -1;
}

.storyBodyEffectUp {
    position: absolute;
    top: 0%;
    right: 0%;
}

.storyBodyEffectUp img {}

#main-shop-area {
    position: relative;
}

.shopBodyEffect {
    position: absolute;
    width: 423px;
    height: 423px;
    left: 35%;
    top: -0%;
    z-index: -1;
    background: #A95BDD;
    -webkit-filter: blur(400px);
    filter: blur(400px);
    opacity: 0.7;
}

.newsletter-detalis {
    position: relative;
}

.newsLetterEffectUp {
    position: absolute;
    top: -67%;
    left: -1%;
}

.newsLetterEffectUp img {}

.newsLetterEffectDown {
    position: absolute;
    bottom: -38%;
    right: -1%;
}

.newsLetterEffectDown img {}

#main-body-section {
    position: relative;
}

.mainBodyEffect {}

.profileBodyLeftEffect {
    position: absolute;
    top: -20%;
    left: 0%;
    z-index: -1;
}

.bodyEffectBlueHere {
    position: absolute;
    width: 352px;
    height: 352px;
    right: 0%;
    top: 0%;
    z-index: -1;
    opacity: 0.7;
    background: #00C9C9;
    -webkit-filter: blur(400px);
    filter: blur(400px);
}

.bodyEffectRedHere {
    position: absolute;
    width: 352px;
    height: 352px;
    left: 50%;
    top: 60%;
    z-index: -1;
    opacity: 0.4;
    background: #4583FF;
    -webkit-filter: blur(400px);
    filter: blur(400px);
}
