/*=========================================*/
/*=============Start Header Area===========*/
/*=========================================*/
#main-header-area {
	padding: 40px 0px;
    position: relative;
}

.mainLogo {}

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.menu-item {}

.menu-item ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-item ul li {}

.menu-item ul li a {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #171B26;
    padding: 0px 20px;
}

.header-button {}

.custom-button {
    background: #FFFFFF;
    border-radius: 50px;
}

.custom-button a {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #171B26;
    padding: 10px 20px;
    transition: 0.5s;
}

.custom-button a:hover {
    background: linear-gradient(90deg, #00C9C9 0%, #5A85E0 100%);
    border-radius: 50px;
    color: #fff;
}

.social-media-icon {}

.social-media-icon ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-media-icon ul li {
    margin: 0px 6px;
}

.social-media-icon ul li a {}

.social-media-icon ul li:last-child {
    margin-right: 0px;
}
.responsive_header{
    display: none;
}
/*=========================================*/
/*==============End Header Area============*/
/*=========================================*/
/*=========================================*/
/*==============End Hero Area============*/
/*=========================================*/
#main-hero-section {
    padding: 81px 0px 120px;
}

.hero-left-area {}

.hero-text {}

.hero-text h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 120%;
    color: #040814;
}

.hero-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 120%;
    background: linear-gradient(90deg, #00C9C9 0%, #5A85E0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #171B26;
    padding: 16px 0px 32px;
}

.hero-button {}

.custom-btn {}

.custom-btn button {
    border: none;
    background: none;
}

.custom-btn button a {
    display: inline-block;
    border: none;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #00C9C9 0%, #5A85E0 100%);
    border-radius: 40px;
    padding: 20px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn button a img {
    margin-left: 7px;
}
.hero-right-area{}
.hero-img img{
    width: 100%;
}
/*=========================================*/
/*==============End Hero Area============*/
/*=========================================*/
/*=========================================*/
/*============Start Sponser Area============*/
/*=========================================*/
#main-sponser-area {
    padding: 40px 0px;
}

.sponser-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponser-item {
    flex-basis: 10%;
}

/*=========================================*/
/*==============End Sponser Area============*/
/*=========================================*/
/*=========================================*/
/*============Start About Us Area==========*/
/*=========================================*/
#main-about-us-section {
    padding: 100px 0px;
}

.about-us-left-area {}

.about-us-img {
    text-align: center;
}

.about-us-img img {
    width: 90%;
}

.about-us-right-area {}

.about-us-text {}

.about-us-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #202020;
}

.about-us-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #171B26;
    padding: 16px 0px 32px;
}

/*=========================================*/
/*==============End About Us Area============*/
/*=========================================*/
/*=========================================*/
/*==============End Service Area============*/
/*=========================================*/
#main-service-area {
    background: linear-gradient(119.46deg, #FF7CB2 0%, #FF4793 98.21%);
    padding: 107px 0px 137px;
}

.service-heading {
    text-align: center;
}

.service-heading h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.main-service-area {
    padding-top: 48px;
}

.service-item {
    width: 23.5%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.service-item img {
    margin-bottom: 24px;
    text-align: left;
}

.service-item h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #040814;
    padding-bottom: 10px;
}

.service-item p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #171B26;
	padding-bottom: 30px;
}
/*=========================================*/
/*==============End Service Area============*/
/*=========================================*/
/*=========================================*/
/*==============Start Story Area============*/
/*=========================================*/
#main-story-area {
    padding: 123px 0px;
    position: relative;
}

.story-left-area {}

.story-text {
	position: relative;
	z-index: 99999999999999;
}

.story-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    background: linear-gradient(100.82deg, #FFA48F 1.32%, #FF4793 21.18%, #A65CE0 48.04%, #5986E0 74.97%, #00C9C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.story-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #171B26;
}

.story-right-area {}

.story-img {
	position: absolute;
	bottom: -6.5%;
	right: 0%;
}

.story-img img {
    width: 100%;
    height: 720px;
}

/*=========================================*/
/*==============End Story Area============*/
/*=========================================*/
/*=========================================*/
/*==============Start Feedback Area============*/
/*=========================================*/
#main-feedback-area {
    padding: 166px 0px 50px;
}

.feedabck-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
}

.feedabck-heading h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #040814;
}

.feedback-item {
	background: linear-gradient(119.46deg, #FF7CB2 0%, #FF4793 98.21%);
	border-radius: 16px;
	padding: 56px 32px 40px;
	position: relative;
	margin-top: 46px;
}

.feedback-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback-item h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.quations {
    position: absolute;
    top: -20%;
    left: 5%;
}

.quations img {
    height: 74px;
    width: 74px;
    border-radius: 50%;
}

/*=========================================*/
/*==============End Feedback Area============*/
/*=========================================*/
/*=========================================*/
/*==============Start Shop Area============*/
/*=========================================*/
#main-shop-area {
    padding: 100px 0px;
}

.shop-area {
    background: linear-gradient(100.82deg, #FFA48F 1.32%, #FF4793 21.18%, #A65CE0 48.04%, #5986E0 74.97%, #00C9C9 100%);
    border-radius: 32px;
    padding: 62px 105px;
    position: relative;
}

.shop-img {
    position: absolute;
    bottom: 0;
    left: 2%;
}

.shop-img img {
    height: 600px;
    width: 100%;
}
.shop-img-two{
    display: none;
}
.shop-img-two img{}
.shop-text {}

.shop-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: #FFFFFF;
}

.shop-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    padding: 16px 0px 32px;
}

.shop-button button a {
    color: #00C9C9;
    background: #fff;
}

/*=========================================*/
/*==============End Shop Area============*/
/*=========================================*/
/*=========================================*/
/*==============Start Blog Area============*/
/*=========================================*/
.main-blog-area {}

.blog-heading {
       display: flex;
    justify-content: space-between;
    align-items: center;
     padding-bottom: 16px;
}

.blog-heading h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #040814;
   
    
}

.bolg-item {

}

.blog-text {}

.blog-text h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #040814;
}

.blog-text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #171B26;
    padding: 14px 0px;
}

.blog-text span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #171B26;
}
.blog-images{
width: 360px;
}
/*=========================================*/
/*==============End Blog Area============*/
/*=========================================*/
/*=========================================*/
/*==============End Newsletter Area============*/
/*=========================================*/
#main-newsletter-area {
    padding: 190px 0px 123px;
}

.newsletter-area {
    background: #FFFFFF;
    border-radius: 24px;
    padding-bottom: 74px;
}

.newletter-logo {
    text-align: center;
    margin-top: -130px;
    position: relative;
    z-index: 99999999;
}

.newletter-logo img {}

.newsletter-detalis {}

.newsletter-heading {
      position: relative;
    z-index: 99999999;
}

.newsletter-heading h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #040814;
}

.newsletter-heading p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #171B26;
}

.newsletter-form {
    padding-top: 24px;
    text-align: center;
}

.newletter-form-group {}

.email-input {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.email-input input {
    border: none;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828CA5;
    padding: 19px 32px;
    background: #FFFFFF;
    border: 1px solid #E3E9F2;
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
}

.submit-btn-area {
    position: absolute;
    top: 0%;
    right: -10%;
}

.submit-btn-area input {
    border: none;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #00C9C9 0%, #5A85E0 100%);
    border-radius: 40px;
    padding: 16px 32px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

/*=========================================*/
/*==============End Newsletter Area============*/
/*=========================================*/
#main-footer-area {
    background-color: #171B26;
    padding: 88px 0px;
    text-align: center;
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #FFFFFF;
}

.footer-text a {
    color: #00C9C9;
}

.social-icon-link {
    padding: 14px 0px 16px;
}

.social-icon-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-link ul li {
    padding: 0px 10px;
}

.social-icon-link ul li a {}

.copyright-section {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
